.react-select-container {
    position: relative;
    z-index: 1000;
  }


/* Phone Preview Start */
/* 
.phone_preview
{
    margin-top: 40px;
    flex: 48%;
    max-width: 48%;
    height: fit-content;
    margin: auto;   
    padding: 0;
    background-color: #ffff;

} */

.phone-image
{
    background-image: url('../../images//phone-rm.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    position: relative;
    object-fit: contain;
    margin-left: 80px;
}


.phone_preview .phone-desc
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    height: 100%;
    top: -10vh;
    left: 19vh;
}
.phone_preview .phone-desc .circle
{
    position: relative;
    background-color: rgb(237, 234, 234);
    border: 1px solid var(--color-grey);
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    left: 4vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.circleImage {
    width: 100%; /* Ensure the image takes the full width of the circle */
    height: 100%; /* Ensure the image takes the full height of the circle */
    object-fit: cover; /* Maintain aspect ratio and cover the entire circle */
    border-radius: 50%; /* Ensure the image is also rounded */
}

.phone_preview .phone-desc .email
{
    color: var(--color-grey);
}

.phone_preview .addedLinks
{
}

.phone_preview .addedLinks .btn 
 {
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 10px;
    padding: 7px 70px;
        
}
 

 @media screen and (max-width: 1100px) {
    .links_preview
    {
     flex-direction: column;
     gap: 100px;
    }
     .customize_links
     {
       max-height: 100% !important ;
     }
     
       .phone-image
       {
         height: 500px;
         width:  400px;
         margin-top: 0vh;
         margin-left:6vh;
       
       }
       
       .phone_preview .phone-desc {
        left: 10vh;
        top: -16vh;

       }
     
       /* Adjust styles for the circle on smaller screens */
       .circle {
         width: 80px;
         height: 80px;
         margin-left: 3vh;
       }

       .phone_preview .addedLinks .btn 
       {
        padding: 7px 50px;
        margin-left: 1.8vh;
       }
   }

   @media  (max-width: 500px) {
    .addedLinks .arrowRight
    {
        width: 10px !important;
    }
  }
  
 .phone_preview .addedLinks .grpLink
{
    position: relative;
} 
 .addedLinks .arrowRight
{
    position: absolute;
    right: 0.1rem;
    top: 0.5rem;
    width: 15px; 
    color: white;
    cursor: pointer;
}
.addedLinks .arrowRight:hover
{
    color: rgb(42, 199, 42);
}
 .phone_preview .addedLinks  .btn-github
 {
    background-color: var(--color-black);
 }

 .phone_preview .addedLinks  .btn-youtube
 {
    background-color: var(--color-red);
 }

 .phone_preview .addedLinks  .btn-linkedIn
 {
    background-color: var(--color-blue);
 }


 .phone_preview .addedLinks  .btn-facebook
 {
    background-color: var(--color-purple);
 }

 .phone_preview .addedLinks  .btn-instagram
 {
    background-color:  #e1306c;
 }

/* phone_preview End */


  /* Customize Links Start */
.links_preview
{
    margin-top: 30px;
    width: 100%;
}

.phone_preview,
.customize_links {
  flex: 1;
  max-width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

 .customize_links 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.customize_links .title p
{
    color: var(--color-grey);
}

.customize_links .title .btn-title
{
    width: 100%;
    background-color: white;
    color: var(--color-purple);
    font-weight: 600;
    border: 2px solid var(--color-purple);
    border-radius: 8px;
    
}

.customize_links .remove 
{
    color: var(--color-grey);
}
.customize_links .title .btn-title
{
width: 100%;
    background-color: white;
    color: var(--color-purple);
    font-weight: 600;
    border: 2px solid var(--color-purple);
    border-radius: 8px;
}


.links 
{
    background-color: #FAFAFA;
    padding: 10px;
}

.links .links-header h3
{
    position: relative;
    color: var(--color-grey);
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

.links .links-header h3::before {
    content: "";
  width: 15px;
  height: 2px;
  background-color: var(--color-grey);
  position: absolute;
  left: -20px;
  top: 8px;
  }

  .links .links-header h3::after {
    content: "";
  width: 15px;
  height: 2px;
  background-color: var(--color-grey);
  position: absolute;
  left: -20px;
  top: 14px;
  }

  .links .links-header p {
    color: var(--color-grey);
  }

  .links .platform 
  {
    color: var(--color-grey);
    font-size: 600;
  }

  .links_preview .save
{
    background-color: var(--color-purple);
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    margin-left: 80%;
}

